= render 'shared/delete_confirmation', object_type: 'list', path: list_path(list), modal_id: list.object_id
= render 'lists/edit_list', modal_id: list.object_id, list: list
- list_is_disabled = list.is_disabled
.col.col-md-2
  .panel.panel-default
    .panel-heading
      - if list_is_disabled
        = list.title
      - else
        %a{href: "#update_#{list.object_id}", 'data-toggle': 'modal'}
          = list.title
      - if !list_is_disabled
        %a.fa.fa-times.pull-right{'data-toggle': 'modal', href: "#delete_#{list.object_id}"}
      - if @is_creator
        %a.fa.fa-ban.pull-right{href: switch_list_editability_path(list)}
    .panel-body
      = render partial: 'notes/note', collection: list.notes, locals: {list_is_disabled: list_is_disabled}
      = render 'notes/note_form', list_id: list.id, list_is_disabled: list_is_disabled
