.container
  %h1= @form_name
  = form_for @list, url: {action: @action} do |f|
    .form-group
      = f.label 'Title'
      = f.text_field :title, class: 'form-control', required: true
    = f.submit @form_name, class: 'btn btn-primary btn-lg'
