%div{id: "list_#{list.id}"}
  = render 'shared/delete_confirmation', object_type: 'list', path: board_list_path(@board, list), modal_id: "list_#{list.id}"
  = render 'lists/edit_list', modal_id: list.id, list: list
  = render 'lists/list_panel', list: list
