<%= form_for @profile, url: profile_path, html: { multipart: true } do |f| %>
  <div class="input-group form-group">
    <%= f.text_field :first_name, { class: "form-control", placeholder: "First Name", autofocus: true } %>
  </div>
  <div class="input-group form-group">
    <%= f.text_field :last_name, { class: "form-control", placeholder: "Last Name" } %>
  </div>
  <div class="input-group">
    <%= f.date_field :birthdate, { class: "form-control", type: "date" } %>
  </div>
  <br>
  <div class="input-group">
    <%= f.select :sex, Profile.sexes.keys, {}, { class: 'form-control' } %>
  </div>
  <br>
  <div class="input-group form-group">
    <%= f.text_field :phone, { class: "form-control", placeholder: "Phone" } %>
  </div>
  <div class="input-group form-group">
    <%= f.file_field :photo_url %>
  </div>
  <%= f.submit "Update Profile", class:"btn btn-primary" %>
<% end %>
<br>
<%= image_tag(@profile.photo_url) if @profile.photo_url? %>
