= render 'shared/delete_confirmation', object_type: 'note', path: board_list_note_path(@board, list, note), modal_id: note.id
= render 'notes/edit_note', note: note, modal_id: "#{note.id}", list: list
= render 'notes/move_note', note: note, modal_id: "#{note.id}", list: list
.panel.panel-default{id: "note_#{note.id}"}
  - if !list.is_disabled
    .col-sm-12
      .dropdown.pull-right
        %a.dropdown-toggle{'data-toggle'=> 'dropdown', role: 'button', 'aria-haspopup'=>'true', 'aria-expanded'=>'false'}
          .glyphicon.glyphicon-menu-hamburger.note_icon
        %ul{class: 'dropdown-menu', role: 'menu', id: "note_menu"}
          %li
            = link_to "#delete_#{note.id}", 'data-toggle': 'modal',title: "delete note" do
              .fa.fa-times
          %li
            = link_to "#edit_note_#{note.id}", 'data-toggle': 'modal', title: "edit note" do
              .fa.fa-pencil
          %li
            = link_to "#move_note_#{note.id}", 'data-toggle': 'modal', title: "move note" do
              .fa.fa-location-arrow
  .panel-body.scrollable.note
    %span= simple_format(note.text)
