= render 'shared/delete_confirmation', object_type: 'note', path: board_list_note_path(@board, list, note), modal_id: note.object_id
= render 'notes/edit_note', note: note, modal_id: "#{note.object_id}", list: list
= render 'notes/move_note', note: note, modal_id: "#{note.object_id}", list: list
.panel.panel-default.note_panel{id: "note_#{note.id}"}
  - if !list.is_disabled
    .col-sm-12
      .dropdown.pull-right
        %a.dropdown-toggle{'data-toggle'=> 'dropdown', role: 'button', 'aria-haspopup'=>'true', 'aria-expanded'=>'false'}
          .glyphicon.glyphicon-menu-hamburger.note_icon
        %ul{class: 'dropdown-menu', role: 'menu', id: "note_menu"}
          %li{id: "destroy_note_board_id_#{@board.id}_user_id_#{current_user.id}"}
            - if can? :destroy, @note
              = link_to "#delete_#{note.object_id}", 'data-toggle': 'modal',title: "delete note" do
                .fa.fa-times
          %li{id: "edit_note_board_id_#{@board.id}_user_id_#{current_user.id}"}
            - if can? :update, @note
              = link_to "#edit_#{note.object_id}", 'data-toggle': 'modal', title: "edit note" do
                .fa.fa-pencil
          %li{id: "move_note_board_id_#{@board.id}_user_id_#{current_user.id}"}
            - if can? :move, @note
              = link_to "#move_#{note.object_id}", 'data-toggle': 'modal', title: "move note" do
                .fa.fa-location-arrow
  .panel-body.scrollable.note{id: "#{note.object_id}"}
    %pre
      %span.content_for_update= note.text
