= render 'shared/delete_confirmation', object_type: 'note', path: note_path(note), modal_id: note.object_id
= render 'notes/edit_note', note: note, modal_id: "#{note.object_id}"
- if !list_is_disabled
  %a{'data-toggle': 'modal', href: "#delete_#{note.object_id}"}
    .fa.fa-times.pull-right
  %a{'data-toggle': 'modal', href: "#edit_#{note.object_id}"}
    .fa.fa-pencil.pull-right
.panel.panel-default
  .panel-body
    %p= simple_format(note.text)
