= render 'shared/delete_confirmation', object_type: 'note', path: board_list_note_path(@board, list, note), modal_id: note.object_id
= render 'notes/edit_note', note: note, modal_id: "#{note.object_id}", list: list
= render 'notes/move_note', note: note, modal_id: "#{note.object_id}", list: list
.panel.panel-default{id: "note_#{note.id}"}
  - if !list.is_disabled
    .col-md-12
      = link_to "#delete_#{note.object_id}", 'data-toggle': 'modal' do
        .fa.fa-times
      = link_to "#edit_#{note.object_id}", 'data-toggle': 'modal' do
        .fa.fa-pencil
      = link_to "#move_#{note.object_id}", 'data-toggle': 'modal' do
        .fa.fa-location-arrow
  .panel-body.scrollable.note
    %span.content_for_update= simple_format(note.text)
