<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<div class="container">
  <div class="row" >
    <div class="col-sm-6" >
      <div class="panel panel-default">
        <div class="panel-heading">List of invites</div>
      </div>
    <table class="table">
      <thead>
        <tr>
          <th>Board name</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @invite.each do |i| %>
          <tr>
            <td><%= Board.find(i.board_id).title %></td>
            <td><%= User.find(i.invitor_id).email %></td>
            <td>
              <button type="button" class="btn btn-success">Confirm</button>
              <%= link_to "Reject", invitation_path(i), method: :delete, class:"btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <div class="col-sm-4" >
      <div class="panel panel-default">
        <div class="panel-heading">Invite</div>
      </div>
      <%= render 'shared/invitation_form' %>
    </div>
    <div class="col-sm-4" >
    </div>
  </div>
</div>
