= render 'shared/menu_bar'
- @board.users.each do |user|
  = render 'shared/dropdown_for_users', user: user
.row
  .lists-area.col-md-9
    = render partial: 'lists/list', collection: @lists
  .chat-area.col-md-3
    .row
      - if can? :create, @list
        = render 'lists/list_form'
    .row#chat_row
      -if can? :create_message, @board
        = render 'shared/chat'
